# Environment variables
.env
server/.env

# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build files
client/dist/

# macOS
.DS_Store

# Logs
*.log

# Uploaded resumes
server/uploads/

# Uploaded resumes
server/uploads/
